:root {
    font-family: "Schoolbell", serif;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    flex-direction: column;
}

#player-select--container {
    background-color: white;
    width: 80vw;
    min-width: 800px;
    max-width: 1920;
    aspect-ratio: 16/9;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.player-select--text {
    font-size: 50px;
}

.tip {
    position: absolute;
    font-size: 23px;
    left: 30px;
    bottom: 30px;
}

#player-select--option-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}

#player-select--blue,
#player-select--pink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: grey;
    width: 110px;
    height: 120px;
}

#background-canvas {
    position: absolute;
    z-index: 1;
    background-size: cover;
    transition: transform 0.1s ease-out;
}

#game-canvas {
    position: absolute;
    z-index: 2;
    transition: transform 0.1s ease-out;
}

#player-canvas {
    position: absolute;
    z-index: 4;
    pointer-events: none;
}

#other-player-canvas {
    position: absolute;
    z-index: 3;
    pointer-events: none;
    transition: transform 0.1s ease-out;
}

#game-canvas--container {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

#fetch-load {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

#ferris-wheel-menu--container {
    position: absolute;
    flex-direction: column;
    bottom: 50px;
    z-index: 5;
    width: 975px;
    height: 215px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ferris-wheel-menu--loading {
    font-size: 30px;
    margin: 40px 40px 40px 60px;
}

#ferris-wheel-menu--cancel {
    font-size: 30px;
    padding: 0px 60px 40px 40px;
    align-self: flex-end;
    cursor: pointer;
}

#ferris-wheel--exit {
    position: absolute;
    bottom: 100px;
    left: 50px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 5;
    width: 182px;
    height: 78px;
    cursor: pointer;
}

#fireworks-canvas {
    position: absolute;
    z-index: 6;
    pointer-events: none;
}
